
	body{
    	background: #B0BFC2;
        color: #444;
    }
	h1{
      background: #D36832;
	  color: #FFF;
	  border-bottom: 5px solid #387A9B;
		text-align: center;
    }
	nav ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 25%;
		position: fixed;
		height: 100%;
		overflow: auto;
}
	nav li{}
	nav{}
	main{}
	footer{
    	background: #387A9B;
	    color: #ffff;
		position: relative;
		margin-top: 100%;
		text-align: right;
		
    }
	#container{
        background-color:white;
    }
	a:link{
    	color: #175B7D; }
	a:visited{
    	color: #600; }
	a:hover, a:active{
	  	color: #fff;
	  	background: #175B7D;
	}
img{	
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

h2{
	color: red;
}